<section class="u-container--sm">
  <ul class="Tabs">
    <li class="Tabs-item"><a href="#profile">Profile</a></li>
    <li class="Tabs-item"><a href="#account">Account</a></li>
  </ul>

  <div id="profile">
    <%= form_tag(controller: 'users/registrations', action: 'update_skills', method: "post") do |f| %>
      <%= text_field_tag 'skills', nil, id: 'js-skills', data: {selectize_value: current_user.skills} %>
      <br>
      <%= submit_tag "Save skills", class: "Button Button--red" %>
    <% end %>

    <hr>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { autocomplete: "off", method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="input-group">
        <%= f.label :twitter %>
        <%= f.text_field :twitter %>
      </div>

      <div class="input-group">
        <%= f.label :github %>
        <%= f.text_field :github %>
      </div>

      <div class="input-group">
        <%= f.label :description %> <i>(You can use markdown)</i>
        <%= f.text_area :description %>
      </div>

      <div class="actions">
        <%= f.submit "Update profile", class: "Button Button--red" %>
      </div>
    <% end %>
  </div>

  <div id="account">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="input-group">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="actions">
        <%= f.submit "Update email", class: "Button Button--red" %>
      </div>
    <% end %>
    <br>
    <hr>

    <h3>Cancel my account</h3>
    <p>Unhappy?</p>

    <%= button_to "Cancel my account", registration_path(resource_name), class: "Button Button--red", data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</section>
