.u-container--sm
  %hgroup
    %h1 My profile
    %h2 Edit your account settings, skills and more.

  %section.u-well
    %h2 Skills
    = form_tag(controller: 'users/registrations', action: 'update_skills', method: "post") do |f|
      = text_field_tag 'skills', nil, id: 'js-skills', data: {selectize_value: current_user.skills}
      %br/
      = submit_tag "Save changes", class: "Button Button--red Button--block"

  %section.u-well
    %h2 Profile
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { autocomplete: "off", method: :put }) do |f|
      = devise_error_messages!

      .input-group
        = f.label :email
        = f.email_field :email

      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}

      .input-group
        = f.label :twitter
        = f.text_field :twitter

      .input-group
        = f.label :github
        = f.text_field :github

      .input-group
        = f.label :description
        %i (You can use markdown)
        = f.text_area :description

      .actions
        = f.submit "Update profile", class: "Button Button--red Button--block"

  %section.u-well
    %h3 Cancel my account
    %p Unhappy? You can cancel your account anytime. We will miss you!
    = button_to "Cancel my account", registration_path(resource_name), class: "Button Button--red", data: { confirm: "Are you sure?" }, method: :delete
