<div class="u-container--sm">
  <hgroup>
    <h1>My profile</h1>
    <h2>Edit your account settings, skills and more.</h2>
  </hgroup>

  <section class="u-well">
    <h2>Skills</h2>

    <%= form_tag(controller: 'users/registrations', action: 'update_skills', method: "post") do |f| %>
      <%= text_field_tag 'skills', nil, id: 'js-skills', data: {selectize_value: current_user.skills} %>
      <br>
      <%= submit_tag "Save changes", class: "Button Button--red Button--block" %>
    <% end %>
  </section>


  <section class="u-well">
    <h2>Profile</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { autocomplete: "off", method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="input-group">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="input-group">
        <%= f.label :twitter %>
        <%= f.text_field :twitter %>
      </div>

      <div class="input-group">
        <%= f.label :github %>
        <%= f.text_field :github %>
      </div>

      <div class="input-group">
        <%= f.label :description %> <i>(You can use markdown)</i>
        <%= f.text_area :description %>
      </div>

      <div class="actions">
        <%= f.submit "Update profile", class: "Button Button--red Button--block" %>
      </div>
    <% end %>
  </section>

  <section class="u-well">
    <h3>Cancel my account</h3>
    <p>Unhappy? You can cancel your account anytime. We will miss you!</p>

    <%= button_to "Cancel my account", registration_path(resource_name), class: "Button Button--red", data: { confirm: "Are you sure?" }, method: :delete %></p>
  </section>
</div>
