!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/
    - if user_signed_in?
      %meta{name: 'user_id', id: current_user.id}/
    %title Codeborative
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %script{:src => "https://js.pusher.com/3.0/pusher.min.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render 'shared/navbar'

    %main
      -if user_signed_in? && current_user.friends.count > 0
        = render 'shared/friendlist'

      - flash.each do |name, msg|
        %div{:class => "Alert Alert--#{name}"}
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      = yield

    = render 'shared/footer'
